.git
.venv
**/.venv
venv
**/venv
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
__pycache__
**/__pycache__
*.py[cod]
*.db
*.sqlite
*.sqlite3
uploads
**/uploads
.env
.env.*
**/.env
**/.env.*
!**/.env.example
Microsoft
